/*
This css file is here to add functionality and style elements that
were needed. You do not need to edit this file or use it in any way.
 */

 html, body{
    height: 100%;
    width: 100%;
    font-size: 1.1em;
    background-color: rgb(245, 245, 248);
}


.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 10fr 2fr;
    grid-template-columns: 1fr;
}


header {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: rgb(36, 41, 47);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}


.icon {
    padding-left: 5%;
    width: 20%;
    height: 100%;
}

main {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(108, 109, 124);
    font-size: large;
}

.login {
    grid-row: 2/3;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.label, a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(108, 109, 124);;
    font-size: 15px;
}

.input {
    width: 400px;
    height: 30px;
    border-color: lightgrey;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
}

.submit {
    color: white;
    background-color: red;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.submit:hover {
    background-color: darkred;
    cursor: pointer;
}

a:hover {
    color: red;
}

footer {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: rgb(36, 41, 47);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; 
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(243, 243, 243);
    font-size: large; 
    padding-left: 5%;
    font-weight: lighter;
    padding-top: 15px;
}
