html, body{
  height: 100%;
  width: 100%;
  margin:0;
  font-size: 1.1em;
  background-color: #252525;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  /* padding: 10%; */
}

header {
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: #252525;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  padding-left: 5%;
  padding-top: 5%;
  width: 200px;
  height: auto;
}

.topnav {
  overflow: hidden;
  justify-content: right;
  padding-right: 5%;
}

.topnav button {
  text-align: center;
  padding: 14px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  background-color: #252525;
  color: white;
  border: none;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #6A6E7C;
  font-size: 2; 
  font-weight: bold;
  /* padding-top: 15px; */
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #6A6E7C;
  font-size: 2; 
  /* font-weight: bold; */
  /* padding-top: 15px; */
  padding-left: 3%;
}

.labelcss {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #555863;
  font-size: 80%; 
  font-weight: lighter;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: large; 
  padding-left: 5%;
  font-weight: lighter;
  padding-top: 15px;
}

/* SIGN-UP/LOGIN PAGE */

.container-fluid {
  background-color: #252525;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.label, a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
}

.input {
  width: 400px;
  height: 30px;
  border-color: lightgrey;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}

.submit {
  color: white;
  background-color: red;
  border-radius: 20px;
  border: none;
  margin:1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.submit:hover {
  background-color: darkred;
  cursor: pointer;
}

.google {
  color: white;
  background-color: red;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.google:hover {
  background-color: darkred;
  cursor: pointer;
}

a:hover {
  color: white;
}

.forgotPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; 
  background-color: #252525;
  padding-top: 5%;
  padding-bottom: 10%;
}

.signup {
  grid-row: 2/3;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset{
  grid-row: 2/3;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PROFILE PAGE */

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
}

.photobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* .loginInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  background-color: #252525;
  color: white;
  border: none;
  /* padding-top: 10px;
  padding-left: 10%; */
}

/* CHECKLIST */

/* .content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.checkbox{
  margin-right:5px;
}
.tasks, .header, .archivedTasks {
  background-color: white;
}

.header {
  /* height: 200px; */
  padding-bottom: 40px;

}

.archivedTasks {
  padding-left: 10%;
}

/* .archivedTasks {
  float: right;
} */

.sidebar {
  background-color: white;
  /* padding-left: 10%; */
}

.top-section {
  float: left;
  padding-right: 50px;
  background-color: white;
  height: 400px;
  /* padding-left: px; */
}

.sidebartitle {
  color: black;
}

.mainTitle {
  font-family: Arial, Helvetica, sans-serif;
  color: White;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  padding-top: 10px;
}
.sidebar, .allTasks, .header {
  background-color: white;
}

.sidebar, .allTasks {
  padding-left: 10%;
  padding-right: 10%;

}

.title {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.6;
}

.inboxtitle {
  font-size: 20px;
  color:black;
}

.addTask {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: large; 
  padding-left: 5%;
  font-weight: lighter;
}

.subhead {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: large; 
  font-weight: lighter;
}

.project-item{
  color: black;
}

.add {
  background-color: red;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  margin: 5px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 7px;
}

.cancel {
  background-color: red;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  margin: 5px;
  padding: 7px;
  margin-top: 10px;
}

hr {
  border: 1px solid black;
}

.archived-list{
  color: black;
  padding-bottom: 5%;
}

.fullchecklist{
  float:right;
  padding-right: 400px;
}

.todolisttitle {
  border-bottom: solid black;
  font-size: 25px;
}

.bulletlist {
  margin-left: 30px;
}

.input-outline {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}