html, body{
  height: 100%;
  width: 100%;
  margin:0;
  font-size: 1.1em;
  background-color: #252525;
}


.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr 1fr;
}

/* site header/footer styling*/

header {
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: #252525;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  padding-left: 5%;
  width: 20%;
  height: 100%;
  background-color: #252525;
}

.topnav {
  overflow: hidden;
  justify-content: right;
}

.topnav button {
  text-align: center;
  padding: 14px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  background-color: #252525;
  color: white;
  border: none;
}

.topnav button:hover {
  text-decoration: underline;
}

footer {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; 
  background-color: #252525;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: large; 
  padding-left: 5%;
  font-weight: lighter;
  padding-top: 15px;
}

/* SIGN-UP/LOGIN PAGE */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.label, a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(108, 109, 124);;
  font-size: 15px;
}

.input {
  width: 400px;
  height: 30px;
  border-color: lightgrey;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}

.submit {
  color: white;
  background-color: red;
  border-radius: 20px;
  border: none;
  margin:1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.submit:hover {
  background-color: darkred;
  cursor: pointer;
}

.google {
  color: white;
  background-color: red;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.google:hover {
  background-color: darkred;
  cursor: pointer;
}

a:hover {
  color: red;
}

.signup {
  grid-row: 2/3;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset{
  grid-row: 2/3;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PROFILE PAGE */

main {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
}

.photobox {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginInfo {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CHECKLIST */

.sidebar, .allTasks, .header {
  background-color: white;
}

.sidebar, .allTasks {
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2;
  font-weight: bold;
  line-height: 1.6;
}

.addTask {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: large; 
  padding-left: 5%;
  font-weight: lighter;
}

.subhead {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: large; 
  font-weight: lighter;
}

.add {
  background-color: green;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  margin: 5px;
  margin-top: 10px;
  padding: 7px;
}

.cancel {
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  margin: 5px;
  padding: 7px;
  margin-top: 10px;
}

hr {
  border: 1px solid black;
}

.archived-list{
  color: black;
  padding-bottom: 5%;
}